.container {
  margin-top: 2rem;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #3a4d39;
  color: #ece3ce;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
}
.form-control {
  background-color: #3a4d39;
  border: none;
}
button {
  background-color: #0b7ff3;
  border-color: #1a1918;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #1b9bf0;
  border-color: #1a1918;
}

.map {
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.order-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.order-item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.order-item h5 {
  margin-bottom: 0;
}

.order-item p {
  margin-bottom: 5px;
}
