<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">Order Details</h2>
          <form [formGroup]="checkoutForm">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <text-input
                [control]="fc.name"
                id="name"
                class="form-control"
              ></text-input>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <text-input
                [control]="fc.address"
                id="address"
                class="form-control"
              ></text-input>
            </div>
          </form>
          <app-order-items-list [order]="order"></app-order-items-list>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">Delivery Address</h2>
          <p class="mb-3">
            <strong>Name:</strong> {{ checkoutForm.value.name }}
          </p>
          <p class="mb-3">
            <strong>Address:</strong> {{ checkoutForm.value.address }}
          </p>

          <app-map [order]="order"></app-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card mb-4 shadow">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">Proceed to Payment</h2>
          <p class="lead">
            Please review your order details and proceed to payment to complete
            your purchase.
          </p>
          <p><strong>Total_Price: </strong> ${{ order.totalPrice }}</p>
          <button (click)="createOrder()">Proceed to Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
